.message {
    width: 25em;
}

.message p {
    text-align: left;
    font-size: 0.875em;
    line-height: 2rem;
}

.message_a {
    margin-left: 10px;
    padding: 5px 10px;
    border: solid 1px #e7bd70;
    border-radius: 30px;
    color: #e7bd70;
    background-color: transparent;
}