form {
    margin-top: 20px;
    width: 18.75rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.5s ease-in;
}

form div {
    display: flex;
    gap: 10px;
}

form input {
    width: 50%;
}

form .short_input {
    width: 36.8%;
}

form textarea {
    width: 75%;
}

form .form_field {
    padding: 1em;
    border-radius: 10px;
    border: black solid 2px;
    outline: none;
}

form .form_field:focus {
    border: #e7bd70 solid 2px;
}

form .form_buttons {
    width: 75%;
    justify-content: end;
}

form div button {
    padding: 10px;
    font-size: 1em;
    color: whitesmoke;
    background-color: #dda235;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

form div button:active {
    transform: scale(0.9);
}

@media only screen and (min-width: 640px) {
    form{
        width: 26.25em;
    }
}

@media only screen and (min-width: 920px) {
    form{
        width: 40.625em;
    }
}

@media only screen and (min-width: 1200px) {
    form{
        width: 37.5em;
    }
}

@media only screen and (min-width: 1300px) {
    form{
        width: 43.75em;
    }
}