.home {
    position: absolute;
    width: 100%;
    height: 85vh;
    color: aliceblue;
    background-image: url('../../../assets/images/background2.webp');
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
}

.home > div {
    margin-top: 7.125em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: all 0.5s ease-in;
}

.home div h1 {
    font-size: 3em;
}

.home div h3 {
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
}

.home div div {
    margin-top: 1.875rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3.125em;
    transition: all 0.5s ease-in;
}

.home div button {
    padding: 0.625rem;
    font-size: 1em;
    border: solid 1px aliceblue;
    border-radius: 30px;
    color: aliceblue;
    background-color: transparent;
    cursor: pointer;
}

.home div button:hover {
    border: solid 1px #e7bd70;
    color: #e7bd70;
}

.home nav {
    display: flex;
    position: absolute;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    gap: 3px;
    bottom: 5px;
    left: 0.625rem;
    background-color: transparent;
    z-index: 1;
}

.home nav img {
    border-radius: 100%;
}

@media only screen and (min-width:480px) and (max-height:420px) {
    .home{
        height: 100%;
    }
}

@media only screen and (min-width:720px) {
    .home > div {
        margin-top: 6.25em;
        margin-right: 14.0625em;
    }
}

@media only screen and (min-width:1200px) {
    .home > div {
        margin-top: 9.375em;
        margin-right: 32.8125em;
    }

    .home div div {
        justify-content: center;
        gap: 50px;
    }
}

@media only screen and (min-width:1200px) and (min-height:1024px) {
    .home > div {
        margin-top: 18.75em;
        margin-left: 12.5em;
    }
}

@media only screen and (min-width:1600px) {
    .home > div {
        margin-top: 9.375em;
        margin-right: 35.8125em;
    }
}