.projects {
    padding: 80px 0;
    position: relative;
    background-color: white;
}

.projects h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.projects p {
    color: black;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 38px auto;
    text-align: center;
    width: 56%;
}

.projects-listbx {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
    background-color: #4A2FBD;
    box-shadow: 20px 14px 32px -10px rgba(0,0,0,0.75);
}

.project-imgbx {
    width: 350px;
    height: 270px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.project-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.project-imgbx:hover::before {
    height: 100%;
}

.project-imgbx img {
    width: 100%;
    height: 100%;
}

.project-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.project-imgbx:hover .project-info {
    top: 50%;
    opacity: 1;
}

.project-info .project-txt {
    text-align: center;
}

.project-info .project-reference {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.project-info h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
}

.project-info span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.project-info a {
    letter-spacing: 0.8px;
    font-size: 18px;
    line-height: 1.1em;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 30px;
}

.project-info a:hover {
    color: white;
    border: 1px solid white;
}