section {
    position: absolute;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

section > div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: all 0.5s ease-in;
}

section div h1 {
    font-size: 3em;
}

section div h3 {
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
}

section div div {
    margin-top: 1.875rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3.125em;
    transition: all 0.5s ease-in;
}

section div button {
    padding: 0.625rem;
    font-size: 1em;
    border: solid 1px aliceblue;
    border-radius: 30px;
    color: aliceblue;
    background-color: transparent;
}

section div button:hover {
    border: solid 1px #e7bd70;
    color: #e7bd70;
}

section nav {
    display: flex;
    position: fixed;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    gap: 3px;
    bottom: 5px;
    left: 0.625rem;
    background-color: transparent;
    z-index: 1;
}

section nav img {
    border-radius: 100%;
}

@media only screen and (min-width:1200px) {
    section > div {
        margin-top: 125px;
    }

    section div div {
        justify-content: center;
        gap: 50px;
    }

    section nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        bottom: 5%;
        left: 96%;
    }
}

@media only screen and (min-width:1200px) and (min-height:1024px) {
    section > div {
        margin-top: 300px;
        margin-left: 200px;
    }
}