@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body{
    overflow: hidden;
    overflow-y: scroll;
    background-color: #141414 !important;
}

.App{
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
}

.link {
    text-decoration: none;
}

@media only screen and (min-width:481px) {
    .App{
        font-size: 16px;
    }
}

@media only screen and (min-width:1024px) {
    .App{
        font-size: 18px;   
    }
}

@media only screen and (min-width:1400px) {
    .App{
        font-size: 24px;   
    }
}